@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "微软雅黑";
}
.clear::after {
  content: '';
  display: block;
  clear: both;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: none;
  display: block;
}
.center {
  width: 1200px;
  margin: 0 auto;
}
.erji {
  position: absolute;
  z-index: 50;
}
header {
  min-width: 1200px;
  line-height: 36px;
  background: #f9f9f9;
}
header .top .left {
  float: left;
}
header .top .left li:nth-child(8):hover {
  background: #fff;
}
header .top .left li:nth-child(8):hover .gengduo {
  display: block;
}
header .top .left .gengduo {
  display: none;
  box-sizing: border-box;
  top: 36px;
  right: 0;
  line-height: 25px;
  background: #fff;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
  border-radius: 8px 0 8px 8px;
  width: 119px;
  text-align: center;
  padding: 6px 12px;
}
header .top .left .gengduo li a {
  color: #777;
  font-size: 12px;
}
header .top .left .gengduo a:hover {
  color: #ca151d;
}
header .top .right {
  float: right;
}
header .top .right li:nth-child(3) .service {
  z-index: 100;
  display: none;
  width: 100% !important;
  box-sizing: border-box;
  top: 36px;
  right: 0;
  line-height: 35px;
  background: #fff;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
  border-radius: 8px 0 8px 8px;
  width: 119px;
  text-align: center;
  padding: 6px 8px;
  font-size: 12px;
}
header .top .right li:nth-child(3) .service a {
  color: #777;
}
header .top .right li:nth-child(3) .service a:hover {
  color: #ca151d;
}
header .top .right li:nth-child(3):hover {
  background: #fff;
}
header .top .right li:nth-child(3):hover .service {
  display: block;
}
header .top .right li:nth-child(4) .sitemap {
  display: none;
  padding-left: 100px;
  box-sizing: border-box;
  width: 893px;
  color: #777;
  top: 36px;
  right: 0;
  background: #fff;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
  border-radius: 8px 0 8px 8px;
}
header .top .right li:nth-child(4) .sitemap dd:hover a {
  color: #ca151d;
}
header .top .right li:nth-child(4) .sitemap dl {
  width: 185px;
  float: left;
  margin: 22px 0 20px;
  line-height: 20px;
}
header .top .right li:nth-child(4) .sitemap dl dt {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
header .top .right li:nth-child(4) .sitemap dl dd {
  width: 80px;
  float: left;
  font-size: 12px;
}
header .top .right li:nth-child(4) .sitemap dl dd a {
  color: #a4a4a4;
}
header .top .right li:nth-child(4):hover {
  background: #fff;
}
header .top .right li:nth-child(4):hover .sitemap {
  display: block;
}
header .top .right li:nth-child(5) .code {
  display: none;
  width: 244px;
  position: absolute;
  top: 36px;
  right: 0;
  background: #fff;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
  border-radius: 8px 0 8px 8px;
}
header .top .right li:nth-child(5) .code li {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #a4a4a4;
}
header .top .right li:nth-child(5) .code li img {
  float: left;
  width: 100px;
  margin-right: 15px;
}
header .top .right li:nth-child(5) .code li div {
  float: left;
  line-height: 16px;
}
header .top .right li:nth-child(5) .code li div h2 {
  font-size: 14px;
  margin-bottom: 2px;
}
header .top .right li:nth-child(5) .code li div p {
  color: #cb242b;
  font-size: 12px;
}
header .top .right li:nth-child(5) .code li:nth-child(1) {
  border: none;
}
header .top .right li:nth-child(5):hover {
  background: #fff;
}
header .top .right li:nth-child(5):hover .code {
  display: block;
}
header .top > ul > li {
  float: left;
  position: relative;
  padding: 0 8px;
}
header .top > ul > li::before {
  content: "";
  width: 1px;
  height: 10px;
  display: block;
  position: absolute;
  top: 16px;
  left: 0;
  background: #d3d3d3;
}
header .top > ul > li:hover > a {
  color: #ca151d;
}
header .top > ul > li > a {
  font-size: 12px;
  color: #a4a4a4;
}
header .nav .center {
  height: 41px;
  padding: 18px 0 15px 0;
  background: #fff;
}
header .nav .center .left {
  float: left;
}
header .nav .center .left .logo {
  float: left;
  margin-right: 34px;
}
header .nav .center .left .logo img {
  height: 36px;
}
header .nav .center .left .list {
  float: left;
}
header .nav .center .left .list li {
  float: left;
  margin-right: 24px;
}
header .nav .center .left .list li a {
  color: #333;
}
header .nav .center .left .list li:hover a {
  color: #ca151d;
}
header .nav .center .left .list .img {
  margin-top: 7px;
}
header .nav .center .left .list .img:hover {
  opacity: 0.8;
}
header .nav .center .left .list .img img {
  height: 24px;
}
header .nav .center .right {
  float: right;
}
header .nav .center .right .search {
  line-height: 1;
  width: 318px;
  height: 28px;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 15px;
  position: relative;
  z-index: 10;
}
header .nav .center .right .search:hover {
  border: 1px solid #a4a4a4;
}
header .nav .center .right .search button {
  width: 35px;
  height: 30px;
  cursor: pointer;
  border: 0;
  overflow: hidden;
  position: absolute;
  background: transparent;
  padding-right: 10px;
  right: 0;
  top: 0;
  color: #353535;
  font-size: 20px;
  outline: none;
  font-weight: bold;
}
header .nav .center .right .search button:hover {
  color: #a4a4a4;
}
header .nav .center .right .search input {
  border: 0;
  color: #3a3a3a;
  width: 285px;
  text-indent: 15px;
  height: 30px;
  line-height: 30px;
  background: transparent;
  float: left;
  outline: none;
}
.banner {
  position: relative;
  height: 470px;
  overflow: hidden;
}
.banner > span:nth-of-type(1) {
  display: block;
  position: absolute;
  top: 50%;
  left: 250px;
  font-size: 3em;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 5;
  color: #fff;
  cursor: pointer;
  text-align: center;
  line-height: 100px;
}
.banner > span:nth-of-type(2) {
  cursor: pointer;
  text-align: center;
  line-height: 100px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0px;
  font-size: 3em;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 5;
  color: #fff;
}
.banner .imgbox {
  width: 900%;
  position: absolute;
}
.banner .imgbox a {
  display: block;
  float: left;
  height: 550px;
}
.banner .imgbox a img {
  width: 1349px;
  height: 470px;
}
.banner .center .listbanner {
  position: absolute;
  top: 18px;
  z-index: 10;
}
.banner .center .listbanner > ul {
  width: 200px;
  height: 437px;
  box-shadow: 0 0 46px rgba(0, 0, 0, 0.03);
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
}
.banner .center .listbanner > ul:hover {
  border-radius: 10px 0 0 10px;
}
.banner .center .listbanner > ul:hover li:nth-child(1) {
  border-radius: 10px 0 0 0;
}
.banner .center .listbanner > ul > li:nth-child(1) {
  border-radius: 10px 10px 0 0;
}
.banner .center .listbanner > ul > li:nth-child(6) {
  border-radius: 0 0 10px 10px;
}
.banner .center .listbanner > ul > li:nth-child(6) .bt {
  border-bottom: none;
}
.banner .center .listbanner > ul > li:hover .nr {
  display: block;
}
.banner .center .listbanner > ul > li {
  color: #a4a4a4;
  padding: 0 15px;
  cursor: pointer;
}
.banner .center .listbanner > ul > li:hover {
  background: #fff;
}
.banner .center .listbanner > ul > li:hover .bt {
  border: none;
}
.banner .center .listbanner > ul > li > .bt {
  padding: 15px 0;
  border-bottom: 1px solid #a4a4a4;
}
.banner .center .listbanner > ul > li > .bt h2 {
  font-size: 16px;
  font-weight: normal;
}
.banner .center .listbanner > ul > li > .nr {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.03);
  display: none;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 200px;
  height: 437px;
  background: #fff;
  border-radius: 0 10px 10px 0;
  box-sizing: border-box;
  padding: 20px 40px;
}
.banner .center .listbanner > ul > li > .nr ul li {
  margin: 20px 0;
  width: 204px;
  height: 80px;
  border-radius: 10px;
  line-height: 80px;
}
.banner .center .listbanner > ul > li > .nr ul li:hover {
  background: #f0f0f0;
}
.banner .center .listbanner > ul > li > .nr ul li img {
  width: 50px;
  float: left;
  margin-right: 15px;
  margin-top: 15px;
  margin-left: 10px;
}
.banner .center .listbanner > ul > li > .nr ul li span {
  color: #a4a4a4;
  font-size: 14px;
}
.xilie .center {
  display: flex;
  justify-content: space-between;
}
.xilie .center div {
  margin-top: 20px;
  border-radius: 20px;
  transition: all 0.5s;
}
.xilie .center div:hover {
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.1);
}
.xilie .center div img {
  border-radius: 10px;
}
.hot {
  margin-top: 27px;
}
.hot h2 {
  font-weight: normal;
  margin-bottom: 13px;
  font-size: 26px;
}
.hot .left {
  float: left;
  width: 230px;
  height: 592px;
}
.hot .left a {
  display: block;
}
.hot .left a img {
  border-radius: 10px;
  transition: all 0.5s;
}
.hot .left a img:hover {
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.1);
}
.hot .right {
  float: right;
}
.hot .right ul {
  width: 968px;
  overflow: hidden;
}
.hot .right ul li {
  transition: all 0.5s;
  width: 230px;
  height: 290px;
  float: left;
  background: #f9f9f9;
  border-radius: 10px;
  margin-left: 12px;
  margin-bottom: 12px;
}
.hot .right ul li:hover {
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.1);
}
.hot .right ul li a {
  width: 100%;
  height: 100%;
  display: block;
}
.hot .right ul li a img {
  width: 150px;
  height: 150px;
  margin: 40px auto 10px;
}
.hot .right ul li a span {
  display: block;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}
.hot .right ul li a .title {
  color: #3a3a3a;
}
.hot .right ul li a .youhui {
  color: #777;
}
.hot .right ul li a .pricebox {
  color: #d0021b;
}
.hot .right ul li a .pricebox em {
  font-style: normal;
}
.jingpin {
  margin-top: 30px;
}
.jingpin .center {
  position: relative;
}
.jingpin .center h2 {
  font-weight: normal;
  margin-bottom: 13px;
  font-size: 26px;
}
.jingpin .center .btn1 {
  border-radius: 0 8px 8px 0;
  font-size: 2em;
  width: 36px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  background: #f3f3f3;
  position: absolute;
  top: 130px;
  left: 6px;
  cursor: pointer;
}
.jingpin .center .btn1:hover {
  background: rgba(153, 153, 153, 0.5);
}
.jingpin .center .btn2 {
  border-radius: 8px 0 0 8px;
  cursor: pointer;
  font-size: 2em;
  width: 36px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  background: #f3f3f3;
  position: absolute;
  top: 130px;
  right: 6px;
}
.jingpin .center .btn2:hover {
  background: rgba(153, 153, 153, 0.5);
}
.jingpin .center ul li {
  float: left;
  border-radius: 10px;
  width: 240px;
  height: 295px;
  margin-bottom: 10px;
  transition: all 0.5s;
}
.jingpin .center ul li:hover {
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.1);
}
.jingpin .center ul li a .pic {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.06);
  color: #777;
  margin: 36px 6px 0;
}
.jingpin .center ul li a .pic img {
  width: 150px;
  height: 150px;
  margin: 0 auto 19px;
}
.jingpin .center ul li a .pic span {
  line-height: 36px;
  display: block;
  text-align: center;
  background: #f3f3f3;
  border-radius: 0 0 10px 10px;
}
.jingpin .center ul li a .title {
  display: block;
  line-height: 24px;
  margin-top: 9px;
  text-align: center;
  font-size: 14px;
  color: #3a3a3a;
}
.jingpin .center ul li a .pricebox {
  display: block;
  text-align: center;
  color: #d0021b;
}
.jingpin .center ul li a .pricebox .price {
  font-style: normal;
  color: #d0021b;
}
.footer {
  background: #f9f9f9;
  margin-top: 50px;
}
.footer .center {
  border-bottom: 1px solid #e5e5e5;
}
.footer .center .kouhao {
  padding: 22px 0;
}
.footer .center .kouhao ul {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.footer .center .kouhao ul li i {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../img/icon01\ \(1\).svg) no-repeat;
  vertical-align: middle;
  margin-right: 12px;
}
.footer .center .kouhao ul li a {
  color: #3a3a3a;
  font-size: 18px;
}
.footer .center .kouhao ul li:nth-child(1) i {
  background-position: -74px 0;
}
.footer .center .kouhao ul li:nth-child(2) i {
  background-position: -154px 0;
}
.footer .center .kouhao ul li:nth-child(3) i {
  background-position: -194px 0;
}
.footer .center .kouhao ul li:nth-child(4) i {
  background-position: -114px 0;
}
.footer .center .bottom {
  padding: 22px 0;
}
.footer .center .bottom .logo {
  padding: 3px 20px 0 0;
  float: left;
}
.footer .center .bottom .logo a {
  display: block;
}
.footer .center .bottom .logo a img {
  width: 82px;
  height: 20px;
}
.footer .center .bottom .list {
  float: left;
}
.footer .center .bottom .list ul li {
  float: left;
  line-height: 1;
  padding-right: 6px;
  border-right: 1px solid #d3d3d3;
  margin-right: 6px;
  font-size: 12px;
}
.footer .center .bottom .list ul li a {
  color: #777;
}
.footer .center .bottom .list ul li a:hover {
  color: #ca151d;
}
.footer .center .bottom .list ul li:nth-last-child(1) {
  border: none;
}
.footer .center .bottom .list .beian {
  font-size: 12px;
  line-height: 20px;
}
.footer .center .bottom .list .beian em {
  font-style: normal;
  color: #a4a4a4;
}
.footer .center .bottom .list .beian span {
  color: #a4a4a4;
}
.footer .center .bottom .list .beian span a {
  color: #a4a4a4;
}
.footer .center .bottom .list .beian span a:hover {
  color: #ca151d;
}
.footer .center .bottom .pic {
  float: right;
  overflow: hidden;
  margin-top: 10px;
}
.footer .center .bottom .pic a {
  display: block;
  float: left;
  margin-left: 17px;
}
.footer .center .bottom .pic a img {
  width: 70px;
  height: 24px;
}
