@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "微软雅黑";
}
.clear::after {
  content: '';
  display: block;
  clear: both;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: none;
  display: block;
}
.center {
  width: 1200px;
  margin: 0 auto;
}
.erji {
  position: absolute;
  z-index: 50;
}
header {
  min-width: 1200px;
  line-height: 36px;
  background: #f9f9f9;
}
header .center .top .left {
  float: left;
}
header .center .top .left li:nth-child(8):hover {
  background: #fff;
}
header .center .top .left li:nth-child(8):hover .gengduo {
  display: block;
}
header .center .top .left .gengduo {
  display: none;
  box-sizing: border-box;
  top: 36px;
  right: 0;
  line-height: 25px;
  background: #fff;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
  border-radius: 8px 0 8px 8px;
  width: 119px;
  text-align: center;
  padding: 6px 12px;
}
header .center .top .left .gengduo li a {
  color: #777;
  font-size: 12px;
}
header .center .top .left .gengduo a:hover {
  color: #ca151d;
}
header .center .top .right {
  float: right;
}
header .center .top .right li:nth-child(3) .service {
  z-index: 100;
  display: none;
  width: 100% !important;
  box-sizing: border-box;
  top: 36px;
  right: 0;
  line-height: 35px;
  background: #fff;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
  border-radius: 8px 0 8px 8px;
  width: 119px;
  text-align: center;
  padding: 6px 8px;
  font-size: 12px;
}
header .center .top .right li:nth-child(3) .service a {
  color: #777;
}
header .center .top .right li:nth-child(3) .service a:hover {
  color: #ca151d;
}
header .center .top .right li:nth-child(3):hover {
  background: #fff;
}
header .center .top .right li:nth-child(3):hover .service {
  display: block;
}
header .center .top .right li:nth-child(4) .sitemap {
  display: none;
  padding-left: 100px;
  box-sizing: border-box;
  width: 893px;
  color: #777;
  top: 36px;
  right: 0;
  background: #fff;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
  border-radius: 8px 0 8px 8px;
}
header .center .top .right li:nth-child(4) .sitemap dd:hover a {
  color: #ca151d;
}
header .center .top .right li:nth-child(4) .sitemap dl {
  width: 185px;
  float: left;
  margin: 22px 0 20px;
  line-height: 20px;
}
header .center .top .right li:nth-child(4) .sitemap dl dt {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
header .center .top .right li:nth-child(4) .sitemap dl dd {
  width: 80px;
  float: left;
  font-size: 12px;
}
header .center .top .right li:nth-child(4) .sitemap dl dd a {
  color: #a4a4a4;
}
header .center .top .right li:nth-child(4):hover {
  background: #fff;
}
header .center .top .right li:nth-child(4):hover .sitemap {
  display: block;
}
header .center .top .right li:nth-child(5) .code {
  display: none;
  width: 244px;
  position: absolute;
  top: 36px;
  right: 0;
  background: #fff;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
  border-radius: 8px 0 8px 8px;
}
header .center .top .right li:nth-child(5) .code li {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #a4a4a4;
}
header .center .top .right li:nth-child(5) .code li img {
  float: left;
  width: 100px;
  margin-right: 15px;
}
header .center .top .right li:nth-child(5) .code li div {
  float: left;
  line-height: 16px;
}
header .center .top .right li:nth-child(5) .code li div h2 {
  font-size: 14px;
  margin-bottom: 2px;
}
header .center .top .right li:nth-child(5) .code li div p {
  color: #cb242b;
  font-size: 12px;
}
header .center .top .right li:nth-child(5) .code li:nth-child(1) {
  border: none;
}
header .center .top .right li:nth-child(5):hover {
  background: #fff;
}
header .center .top .right li:nth-child(5):hover .code {
  display: block;
}
header .center .top > ul > li {
  float: left;
  position: relative;
  padding: 0 8px;
}
header .center .top > ul > li::before {
  content: "";
  width: 1px;
  height: 10px;
  display: block;
  position: absolute;
  top: 16px;
  left: 0;
  background: #d3d3d3;
}
header .center .top > ul > li:hover > a {
  color: #ca151d;
}
header .center .top > ul > li > a {
  font-size: 12px;
  color: #a4a4a4;
}
header .nav {
  background: #fff;
  padding: 25px 0;
}
header .nav p {
  font-size: 25px;
}
header .nav .logo {
  float: left;
  margin-right: 20px;
}
header .nav .logo a {
  display: block;
}
header .nav .logo a img {
  width: 205px;
  height: 36px;
}
.neirong {
  background: #f9f9f9;
  padding: 100px 50px;
}
.neirong .center {
  background: #fff;
  padding: 30px;
}
.neirong .center .sumprice {
  text-align: right;
}
.neirong .center .list1 {
  overflow: hidden;
}
.neirong .center .list1 li {
  overflow: hidden;
  margin-bottom: 20px;
}
.neirong .center .list1 li div {
  float: left;
}
.neirong .center .list1 li .c-box input {
  width: 20px;
  height: 20px;
}
.neirong .center .list1 li .p-img {
  margin-right: 50px;
  margin-left: 20px;
}
.neirong .center .list1 li .p-img img {
  width: 100px;
  height: 100px;
}
.neirong .center .list1 li .p-title {
  width: 450px;
  margin-right: 50px;
}
.neirong .center .list1 li .p-num {
  color: red;
  margin-right: 15px;
}
.neirong .center .list1 li .p-price {
  color: red;
  margin-right: 40px;
}
.neirong .center .list1 li .p-sum {
  color: red;
  margin-top: 80px;
}
.neirong .center .list1 li .del {
  margin-top: 40px;
  margin-left: 50px;
}
.neirong .center .list1 li .del a {
  color: #d3d3d3;
}
.footer {
  background: #f9f9f9;
  margin-top: 50px;
}
.footer .center {
  border-bottom: 1px solid #e5e5e5;
}
.footer .center .kouhao {
  padding: 22px 0;
}
.footer .center .kouhao ul {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.footer .center .kouhao ul li i {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../img/icon01\ \(1\).svg) no-repeat;
  vertical-align: middle;
  margin-right: 12px;
}
.footer .center .kouhao ul li a {
  color: #3a3a3a;
  font-size: 18px;
}
.footer .center .kouhao ul li:nth-child(1) i {
  background-position: -74px 0;
}
.footer .center .kouhao ul li:nth-child(2) i {
  background-position: -154px 0;
}
.footer .center .kouhao ul li:nth-child(3) i {
  background-position: -194px 0;
}
.footer .center .kouhao ul li:nth-child(4) i {
  background-position: -114px 0;
}
.footer .center .bottom {
  padding: 22px 0;
}
.footer .center .bottom .logo {
  padding: 3px 20px 0 0;
  float: left;
}
.footer .center .bottom .logo a {
  display: block;
}
.footer .center .bottom .logo a img {
  width: 82px;
  height: 20px;
}
.footer .center .bottom .list {
  float: left;
}
.footer .center .bottom .list ul li {
  float: left;
  line-height: 1;
  padding-right: 6px;
  border-right: 1px solid #d3d3d3;
  margin-right: 6px;
  font-size: 12px;
}
.footer .center .bottom .list ul li a {
  color: #777;
}
.footer .center .bottom .list ul li a:hover {
  color: #ca151d;
}
.footer .center .bottom .list ul li:nth-last-child(1) {
  border: none;
}
.footer .center .bottom .list .beian {
  font-size: 12px;
  line-height: 20px;
}
.footer .center .bottom .list .beian em {
  font-style: normal;
  color: #a4a4a4;
}
.footer .center .bottom .list .beian span {
  color: #a4a4a4;
}
.footer .center .bottom .list .beian span a {
  color: #a4a4a4;
}
.footer .center .bottom .list .beian span a:hover {
  color: #ca151d;
}
.footer .center .bottom .pic {
  float: right;
  overflow: hidden;
  margin-top: 10px;
}
.footer .center .bottom .pic a {
  display: block;
  float: left;
  margin-left: 17px;
}
.footer .center .bottom .pic a img {
  width: 70px;
  height: 24px;
}
